.vc-calendar{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    height: 30px;
}
.vc-calendar-div-inputs{
    display:flex;
}
.vc-calendar-input{
    width: 100px;
    height: 20px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.vc-calendar-input>input{
    width: 90%;
    border: 0;
    outline: 0;
    border-radius: 6px;
}
.vc-calendar-input>input:focus{
    border: 0;
    outline: 0;
}
.ph{
    font-size: 12px;
}
.changeDate{
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.title-btn{
    width: 100%;
}