.custom-select {
    position: relative;
    width: 230px;
    text-align: left;
    outline: none;
    height: 28px;
    margin: 30px;
  }
  
  .custom-select .selected {
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #0a0907;
    color: #260e0e;
    padding-left: 1em;
    cursor: pointer;
    user-select: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .custom-select .selected.open {
    border: 1px solid #0a0907;
    border-radius: 6px 6px 0px 0px;
  }
  
  .custom-select .selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 1em;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #0a0907 transparent transparent transparent;
    transition: 0.2s;
  }

  .custom-select .selected.open::after {
    position: absolute;
    content: "";
    top: 8px;
    right: 1em;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #0a0907 transparent transparent transparent;
    transition: 0.2s;
    transform: rotate(180deg);
  }
  
  .custom-select .items {
    color: #260e0e;
    border-radius: 0px 0px 6px 6px;
    overflow: hidden;
    border-right: 1px solid #0a0907;
    border-left: 1px solid #0a0907;
    border-bottom: 1px solid #0a0907;
    position: absolute;
    background-color: #ffffff;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .custom-select .items div {
    color: #260e0e;
    padding-left: 1em;
    cursor: pointer;
    user-select: none;
  }
  
  .custom-select .items div:hover {
    background-color: #958c78;
  }
  
  .selectHide {
    display: none;
  }